@import './vars';
@import './mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  background: $gradient-bg;
  min-height: 100vh;
  color: $text-dark;
  line-height: 1.6;
}