@import '../../../styles/vars';

.button {
  padding: $spacing-md $spacing-lg;
  border-radius: $radius;
  font-weight: 600;
  transition: all 0.2s;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;

  &.primary {
    background: $primary;
    color: white;
    
    &:hover {
      background: $primary-dark;
    }
  }

  &.outline {
    background: transparent;
    border: 2px solid $primary;
    color: $primary;
    
    &:hover {
      background: rgba($primary, 0.1);
    }
  }
}